{% extends "layout.html" %}
{% block content %}

<ul class="page-nav">
    <li>
        <a class="btn btn-outline-success" href="{{ url_for('provas_questoes') }}">Listar</a>
    </li>
</ul>

{% if questao %}
    <h1><u>Atualizar</u> Questão</h1>
{% else %}
    <h1>New questão</h1>
{% endif %}


<form class="crud c2" action="/provas/questoes/{{action}}" method="POST">

    <input type="hidden" value={{questao._id}} name="id">

    <div class="form-group">
        <label for="qnro">Nro.:</label>
        <input value="{{questao.numero}}" type="text" class="form-control" name="qnumero" id="qnumero" required autocomplete="off">
    </div>

    <div class="form-group">
        <label for="qnro">Enunciado:</label>
        <input value="{{questao.enunciado}}" type="text" class="form-control" name="qenumciado" id="qenunciado" required autocomplete="off">
    </div>

    <div class="form-group">
        <label for="qnro">Alternativas:</label>

    {% if questao %}
        {% for alternativa in questao.alternativas %}
            <input type="text" value="{{ alternativa.alt }}" class="form-control" name="qalternativa" id="qalternativa" required autocomplete="off">
            <label><input type="radio" name="radio" value="{{ alternativa.alt }}"> Certa</label>
        {% endfor %}
    {% else %}
        <input type="text" class="form-control" name="qalternativa" id="qalternativa" required autocomplete="off">
        <label><input type="radio" name="radio" value="1"> Certa</label>
    {% endif %}


    </div>

    {% if questao %}
    <button type="submit" class="btn btn-danger">Atualizar</button>
    {% else %}
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    {% endif %}

</form>

{% endblock %}